@if (user && !loading) {
<div class="card mt-5 shadow-sm">
  <div class="card-header">
    <h3 class="mb-0 text-center">
      {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
    </h3>
  </div>

  <div class="card-body">
    <p><strong>ID :</strong> {{ user.id }}</p>
    <p><strong>Email :</strong> {{ user.email }}</p>
    <p><strong>Job position :</strong> {{ user.userTypes?.userTypes || 'Not specified' }}</p>
  </div>

  <div class="card-footer text-center">
    <button class="btn btn-outline-secondary" routerLink="/users">Back to the list</button>
  </div>
</div>

<p class="text-center">NB: Photo and phone add-ons will be available soon.</p>
}

@if (loading) {
<div class="text-center mt-5">
  <span class="spinner-border spinner-border-sm"></span>
  Loading...
</div>
} @if (error) {
<div class="alert alert-danger mt-4 text-center">{{ error }}</div>
}
