.btn-create {
  font-size: 1.1rem;
  background-color: #aa5555 !important;
  color: white;
}

.title {
  font-weight: bold;
}

.card-color {
  background-color: #708090ff !important;
  color: white;
}