<div class="card mt-4">
  <div class="card-header card-color">
    <h5 class="title mb-0">{{ isEditMode ? 'Edit User Type' : 'Add User Type' }}</h5>
  </div>

  <div class="card-body">
    @if (error) {
    <div class="alert alert-danger">{{ error }}</div>
    }

    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="mb-3">
        <input type="text" id="userTypes" class="form-control" formControlName="userTypes" />
        @if (form.get('userTypes')?.touched && form.get('userTypes')?.invalid) {
        <div class="text-danger">User Type is required</div>
        }
      </div>

      <button type="submit" class="btn btn-create" [disabled]="loading">
        {{ isEditMode ? 'Update' : 'Create' }}
      </button>
      <button
        type="button"
        class="btn btn-secondary ms-2 btn-delete"
        (click)="router.navigate(['/user-types'])"
        [disabled]="loading"
      >
        Cancel
      </button>
    </form>
  </div>
</div>
