.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.4;
}

.presentation-text {
  max-width: 900px;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.8;
  color: black;
}

.sub-container {
  display: flex;
  justify-content: space-between;
}

.section-users,
.section-user-types {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: #708090ff;
}

.item {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.link-container {
  margin-top: 30px;
}

.container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.25rem;
}

.btn {
  padding: 15px;
  font-size: 1.1rem;
  background-color: #aa5555 !important;
  color: white;
  font-weight: bold;
}
